img { 
    width: 200px;
}
body{
    text-align: center;
    font-family: 'Trebuchet MS';
    background-color: rgba(9, 79, 185, 0.425);
    color: rgba(255, 0, 255, 0.692);
   
}

.food{
    
    width:200px;
    position: relative;
    animation:slide 2s  linear infinite alternate
    
}

@keyframes slide {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }

}



.awesomefood{
  position:relative;
  animation:spin 4s linear infinite 
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  
}

.button {
  transition-duration: 0.1s;
}

.button:active {
  background-color: #4CAF50; /* Green */
  color: white;
}
.button {
  position: absolute;
  top: 500px;
  right: 900px;
}

.button {border-radius: 50px;}

.fooods{

    position:relative;

    animation:boxMove 4s linear infinite alternate,
    spin 2s linear infinite;
}
@keyframes boxMove {
  0% {
    top: 0px;
    left: -2000px;
  }

  25% {
    top: 0px;
    left: 900px; 
  }

  50% {
    top: 200px;
    left: 200px; 
  }

  75% {
    top: 200px;
    left: 0px; 
  }

  100% {
    top: 0px;
    left: 0px; 
  }
}